In [3]:
pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.5-py3-none-any.whl (33 kB)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: statsmodels in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: patsy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.5
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
from scipy.stats  import ttest_ind,ttest_1samp,ttest_rel

# Two different methods of conducting a t-test
import researchpy as rp
from scipy import stats

In [5]:
import os 
os.chdir(r"C:\Users\User\Desktop\Python Code\Inferential Statistics\Unit 1\T-Test")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\User\\Desktop\\Python Code\\Inferential Statistics\\Unit 1\\T-Test'

# One sample T-test

### Example 1

 Our counseling center on campus is concerned that most student requiring therapy do not take advantage of this service. Right know students attend only 4.6 session in a given year. Administration is considering having patient sign a contract stating that they will attend 10 session in a academic year. 
 
 Does signing the contract actually change the participation / attendance? Use 5% LOS.

In [3]:
a=[6,6,12,17,8]
sum(a)/5

9.8

#### Hypothesis
* H0: There is no significant difference between the student who signed the contract that will attend the session as who does not sign the contract. (μ=M)

* H1: There is significant difference between the student who signed the contract & those who don’t signed the contract. (μ≠M)

* Step : Two Tailed 
* Alpha :0.05

In [4]:
ttest_1samp(a,4.6)

Ttest_1sampResult(statistic=2.873684832428399, pvalue=0.04530014395444604)

#### Conclusion
* We Reject Ho
* There is significant difference between the student who signed the contract & those who don’t signed the contract. (μ≠M)

### Example 2

#### Hypothesis
* H0: There is no significant difference between Sample mean & population mean with respect to lung capacity(μ=M)

* H1: There is significant difference between Sample mean & population mean with respect to lung capacity. (μ≠M)

* Step : Two Tailed 
* Alpha :0.05

In [6]:
data=pd.read_csv("LungCapData.csv")

In [7]:
data.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [8]:
data.describe()

          LungCap         Age      Height
count  725.000000  725.000000  725.000000
mean     7.863148   12.326897   64.836276
std      2.662008    4.004750    7.202144
min      0.507000    3.000000   45.300000
25%      6.150000    9.000000   59.900000
50%      8.000000   13.000000   65.400000
75%      9.800000   15.000000   70.300000
max     14.675000   19.000000   81.800000

In [9]:
a=data.LungCap
a

0       6.475
1      10.125
2       9.550
3      11.125
4       4.800
        ...
720     5.725
721     9.050
722     3.850
723     9.825
724     7.100
Name: LungCap, Length: 725, dtype: float64

In [10]:
ttest_1samp(a,6)

Ttest_1sampResult(statistic=18.845465292451685, pvalue=9.152936587753803e-65)

# Two Independent Sample T-test

### Example 1

In [11]:
# Read the data in
df = pd.read_csv(r"TwosamplePPT.csv")

In [12]:
df

  Gender   Rating
0       w      84
1       w      97
2       w      58
3       w      90
4       M      88
5       M      90
6       M      52
7       M      97
8       M      86

In [13]:
# Showing descriptive statistics from pandas.describe()
df.groupby('Gender ')['Rating'].describe()

         count   mean        std   min   25%   50%    75%   max
Gender
M          5.0  82.60  17.601136  52.0  86.0  88.0  90.00  97.0
w          4.0  82.25  17.017148  58.0  77.5  87.0  91.75  97.0

In [14]:
Men = df[(df['Gender '] == 'M')]
Men.reset_index(inplace= True)
Men

   index Gender   Rating
0      4       M      88
1      5       M      90
2      6       M      52
3      7       M      97
4      8       M      86

In [15]:
Women = df[(df['Gender '] == 'w')]
Women.reset_index(inplace= True)
Women

   index Gender   Rating
0      0       w      84
1      1       w      97
2      2       w      58
3      3       w      90

#### Hypothesis

* H_0: There is no difference in rating given by women and men.
      VS
* H_1: There is  difference in rating given by women and men.

* Step 2 = Two Tailed
* Step 3 = Alpha = 0.05

In [16]:
import scipy
twosample_results =ttest_ind(Men['Rating'],Women['Rating'])
twosample_results

Ttest_indResult(statistic=0.03006634626631053, pvalue=0.976853412930128)

In [17]:
# T-test
import pingouin as pg
pg.ttest(Men['Rating'],Women['Rating'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,0.030195,6.66891,two-sided,0.976795,"[-27.34, 28.04]",0.020169,0.509,0.050079

#### Conclusion

* We do not Reject Ho
* There is no difference in rating given by women and men.

### Example 2

In [18]:
df=pd.read_csv("LungCapData.csv")

In [19]:
df.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [20]:
Smoke_no = df[(df['Smoke'] == 'no')]
Smoke_no.reset_index(inplace= True)

Smoke_yes = df[(df['Smoke'] == 'yes')]
Smoke_yes.reset_index(inplace= True)

In [21]:
import scipy
twosample_results = scipy.stats.ttest_ind(Smoke_yes['LungCap'],Smoke_no['LungCap'])
twosample_results

Ttest_indResult(statistic=2.739918298617243, pvalue=0.0062969933279543875)

### Example 3

In [22]:
df=pd.read_csv("Weight.csv")

In [23]:
df.head(10)

  Drug  Weights
0    A       10
1    A       12
2    A       13
3    A       11
4    A       14
5    B        8
6    B        9
7    B       12
8    B       14
9    B       15

In [24]:
Drug_A = df[(df['Drug'] == 'A')]
Drug_A.reset_index(inplace= True)

Drug_B = df[(df['Drug'] == 'B')]
Drug_B.reset_index(inplace= True)

# Method 1

In [25]:
import scipy
twosample_results = scipy.stats.ttest_ind(Drug_A['Weights'],Drug_B['Weights'])
twosample_results

C:\Users\User\anaconda3\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.3.11, the latest is 0.5.1.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

Ttest_indResult(statistic=0.734930919740164, pvalue=0.47926197661531933)

# Method 2

In [27]:
# T-test
import pingouin as pg
pg.ttest(Drug_A['Weights'],Drug_B['Weights'],confidence=0.95,tail="two-sided")

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,0.803837,9.759384,two-sided,0.440631,"[-1.78, 3.78]",0.430331,0.577,0.102272

# Paired Sample T-test

### Example 1

* Suppose a sample of 20 students were given a diagnostic test
* before studying a particular module & then again after completing the module we want to find out if, in general, our * teaching leads to improvement in students’ knowledge.ie. Test score. 

* We can use the result from our sample of student to draw conclusions about the impact of this module in general.

#### Hypothesis

* H_0: There is no difference between on test score before & after study
      VS
* H_1: There is difference between on test score before & after study

In [40]:
data=pd.read_csv("Paried_test_PPT.csv")

In [41]:
data.head()

   Participants  Before  After
0             1      18     22
1             2      21     25
2             3      16     17
3             4      22     24
4             5      19     16

In [42]:
a=data.After

In [43]:
b=data.Before

In [32]:
ttest_rel(a,b)

Ttest_relResult(statistic=3.231252665580312, pvalue=0.004394965993185664)

In [33]:
# T-test
import pingouin as pg
pg.ttest(a,b,paired=True,confidence=0.95,tail="two-sided")

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,3.231253,19,two-sided,0.004395,"[0.72, 3.38]",0.56416,10.233,0.667892

#### Conclusion

* There is significant difference between on test score before & after study

## Example 2

* A sample of 20 drivers was chosen, and their reaction times 
* in an obstacle course were measured before and after drinking two beers. 
* The purpose of this study was to check whether drivers are
* impaired after drinking two beers.

#### Hypothesis

* H_0: There is no significance differences in reaction times before & after drinking two beers
            Vs
* H_1: There is significance differences in reaction times before & after drinking two beers

In [34]:
data=pd.read_csv("beers.csv")

In [35]:
data.head()

   Before  After
0    6.25   6.85
1    2.96   4.78
2    4.95   5.57
3    3.94   4.01
4    4.85   5.91

In [36]:
a=data.After

In [37]:
b=data.Before

In [38]:
ttest_rel(a,b)

Ttest_relResult(statistic=2.5820585352876755, pvalue=0.018270781267861285)

#### Conclusion

* There is Significane differences in reaction times before & after drinking two beers

In [39]:
# T-test
import pingouin as pg
pg.ttest(a,b,paired=True,confidence=0.95,tail="two-sided")

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,2.582059,19,two-sided,0.018271,"[0.09, 0.91]",0.51334,3.114,0.586636